<template>
  <apexcharts v-if="width && height" 
      :type="graphType" 
      :width="width" 
      :parentHeightOffset="height" 
      :options="options" 
      :series="series" />
</template>

<script>
import VueApexCharts from 'vue-apexcharts';

export default {
  name: 'chart',
   components: {
    apexcharts: VueApexCharts,
  },
  props: ["series", "options", "type"],
  data () {
    return {
      height: 0,
      width: 0
    }
  },
  computed: {
    graphType() {
      return this.type || 'bar'
    }
  },
  mounted() {
    this.updateSize();
    window.addEventListener('resize', this.updateSize);
   },
   methods: {
    updateSize() {
      const nav = document.querySelector('nav').getBoundingClientRect();
      const container = document.querySelector('.container').getBoundingClientRect();
      const islandscape = container.width > container.height;
      const spacer = islandscape ? 10 : 0;
      this.height = container.height - (nav.height + spacer);
      this.width = container.width - 30;
    }
  }
}
</script>
<style>
.apexcharts-tooltip,
.apexcharts-menu-icon {
    display: none;
}
</style>