<template>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">get_app</i></a>
    <ul>
      <li v-on:click="exportFile('Exported statement to PDF')"><a class="btn-floating blue pulse"><i class="material-icons">picture_as_pdf</i></a></li>
      <li v-on:click="exportFile('Exported statement to CSV')"><a class="btn-floating blue"><i class="material-icons">cloud_download</i></a></li>
      <li v-on:click="exportFile('Added to a new category')"><a class="btn-floating blue"><i class="material-icons">share</i></a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'FAB',
  mounted() {
    window.M.FloatingActionButton.init(document.querySelectorAll('.fixed-action-btn'), {
      direction: 'left',
      hoverEnabled: false
    });
  },
  methods: {
    exportFile(html) {
      window.M.toast({html: html});
    }
  }
}
</script>
<style>

</style>