<template>
  <main>
    <div class="container">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
      </div>
      <div class="card-content">
        <div class="focus" v-on:click="openPage(1)"> 
          <div class="focus--mask">
            <div class="focus--mask-inner">FinHelp</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";

$backgroundColor: #255fa5;

.container {
  margin: 0;
  padding: 0;
  background: $backgroundColor;
  height: 100vh;
}

.card {
  box-shadow: none;
  background: $backgroundColor;
}

.card-image {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.card-content {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

$componentSize: 210px;
$maskSize: 50px;
$speed: 1s;
$borderOffset: 8px;

$animationProps: $speed linear infinite alternate;

@keyframes mask-move {
  0%   { 
    transform: translateX(0);
  }
  100% { 
    transform: translateX($componentSize - $maskSize);
  }
}

@keyframes mask-inner-move {
  0%   { 
    transform: translateX(0);
  }
  100% { 
    transform: translateX(-($componentSize - $maskSize));
  }
}

.focus {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: .2rem;
  line-height: 1;
  position: relative;
  width: $componentSize;
  &:before {
      content: 'FinHelp';
      filter: blur(3px);
  }
  &:after {
    content: '';
    position: absolute;
    width: $maskSize;
    height: calc(100% + #{$borderOffset});
    top: -($borderOffset / 2);
    left: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    animation: mask-move $animationProps;
  }
  &--mask {
    overflow: hidden;
    position: absolute;
    width: $maskSize;
    height: 100%;
    top: 0;
    left: 0;
    background: $backgroundColor;
    animation: mask-move $animationProps;
    &-inner {
      animation: mask-inner-move $animationProps;
    }
  }
}
</style>