<template>
  <main>
    <top-header title="Our plan for you" />
    <div class="container">
      <div class="row">
        <div class="col s12 m6">

      <div class="card">
            <div class="card-content">
<span class="card-title">Save Smart</span>              <ol>
                <li>
              Apply for a free Market Link account. You will earn up to <span class="money green-text darker-4">3%</span> more interest than on your current savings account</li>
              <li>Set a reccuring payment to this new account of <span class="money green-text darker-4">{{ deposit | currency }}</span> pm</li>
              </ol>
            </div>
          </div>

  
           <div class="card">
            <div class="card-content">
              <span class="card-title">Borrow Smart</span>
                <ol>
              <li>Apply for a credit loan of <span class="money green-text darker-4">{{ loan | currency }}</span> at a miminal interest rate of <span class="money green-text darker-4">7%</span></li>
                <li>Follow our payment plan to ensure you reach your minimum repayments</li>
                </ol>
            </div>
          </div>

        </div>
      </div>
      <div class="row right">
            <div class="input-field col s12">
              <a class="waves-effect waves-light btn green darken-2">
               Apply now 
              </a>
            </div>
          </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Page4",
  data() {
    return {
      deposit: 8000,
      loan: 12000
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";
.money {
  font-weight: 800;
}
  .btn {
    height: 48px;
    line-height: 48px;
  }

.card .card-content {
    padding: 10px;
        height: 180px;
}
  .card .card-content .card-title.fr {
    text-align: right;
    padding: 0;
    margin: 0;
}

ol {
  list-style-type: decimal;
  li {
    padding-top: 15px;
  }
}

.card{
  box-shadow: none;
  margin-bottom: 100px;
  
}


</style>