<template>
  <main>
    <top-header title="Pick one" />
    <div class="container">
      <div class="row">
      <ul class="collection">
        <li class="collection-item avatar" v-on:click="openPage(2)">
          <i class="material-icons circle blue">timeline</i>
          <span class="title light-blue-text darken-4">Plan</span>
          <p class="grey-text darken-2">Help me reach a goal</p>
        </li>
        <li class="collection-item avatar" v-on:click="openPage(9)">
          <i class="material-icons circle blue">attach_money</i>
          <span class="title light-blue-text darken-4">Instant Check</span>
          <p class="grey-text darken-2">Can I afford this?</p>
        </li>
        <li class="collection-item avatar" v-on:click="openPage(7)">
          <i class="material-icons circle blue">bookmark</i>
          <span class="title light-blue-text darken-4">Categorize</span>
          <p class="grey-text darken-2">Organize my activity</p>
        </li>
        <li class="collection-item avatar" v-on:click="openPage(10)">
          <i class="material-icons circle blue">search</i>
          <span class="title light-blue-text darken-4">Investigate</span>
          <p class="grey-text darken-2">Find specific transactions</p>
        </li>
      </ul>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Page1"
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";

.container {
  .card-content {
    padding-top: 18px;

    p:first-child {
      color: $positive_color;
      font-size: 30px;
    }

    p:last-child {
      color: $dirty-gray;
      font-size: 15px;
    }
  }

  .card-action a {
    color: $tertiary_color !important;
  }
}
</style>