<template>
  <main>
    <top-header title="Set a goal" />
    <div class="container">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" v-model="goal.name" />
              <label for="name">Goal name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="amount" type="number" class="validate" v-model="goal.amount" />
              <label for="amount">How much?</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="deadline" type="text" class="datepicker" readonly />
              <label for="deadline">Your deadline</label>
            </div>
          </div>
         <div class="row">
           <div class="input-field col s12">
            <div class="switch">
            <label>
              Include credit?
              <input type="checkbox" checked v-model="goal.credit">
              <span class="lever right"></span>
            </label>
          </div>
          </div>
          </div>
          <div class="row right">
            <div class="input-field col s12">
              <a class="waves-effect waves-light btn light-blue darken-2" v-on:click="openPage(3, goal)">
                Suggest Options <i class="material-icons right">arrow_forward</i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Page2",
  data() {
    return {
      goal: {
        name: '',
        amount: '',
        deadline: '',
        credit: true
      }
    };
  },
  mounted() {
    const tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    window.M.FormSelect.init(document.querySelectorAll('select'), {});
    window.M.Datepicker.init(document.querySelectorAll(".datepicker"), {
      autoClose: true,
      minDate: tomorrow,
      onSelect: date => {
        this.goal.deadline = date;
      }
    });
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";

.container {
  .btn {
    height: 48px;
    line-height: 48px;
  }
  .switch label {
    font-size: 1rem;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: none;
    height: 60vh;

    .card-content {
      padding: 0;
      height: 80%;

      .card-title {
        color: $tertiary_color;
        font-size: 17px;
        opacity: 0.6;
      }

      p:first-of-type {
        color: $dirty-gray;
      }

      p:last-of-type {
        margin-top: 30%;
        text-align: center;
        color: $positive_color;
        font-size: 35px;
      }
    }

    .card-action {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      border-top: solid 1px transparent;
      a {
        color: $tertiary_color !important;
      }
    }
  }

  .datepicker-container .is-disabled.is-today {
    color: #26a69a;
    opacity: 0.7;
  }

  input[type="text"][readonly="readonly"] {
    color: black;
  }
}
</style>