<template>
  <main>
    <top-header />
    <div class="container">
      <div class="center row">
        <div class="col s12 graph">
          <chart type="line" :options="options" :series="series" />
        </div>
      </div>
      <div class="center row chipses middle">
        <div class="chip">
          You've spent <span>62%</span> more on coffee this month
        </div>
      </div>
      <div class="center row chipses">
        <div class="chip">
          You haven't paid your taxes, well done!
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Chart from './Chart.vue'

export default {
  name: "Page5",
  components: {
    Chart
  },
  data() {
    return {
      credit: 10000,
      series: [
      {
        name: 'Savings',
        data: [ 5, 9, 15, 18, 40 ],
      },
      {
        name: 'Spending',
        data: [ 11, 20, 25, 21, 10 ],
      }],
      options: {
        plotOptions: {
          bar: {
            distributed: true
          }
        },
        title: {
          text: 'Monthly spend trends',
          align: 'left',
          style: {
            fontSize: "16px",
            color: '#666'
          }
        },
        colors:['#4093d2', '#d83188'],
        xaxis: {
          categories: ['Jan', 'Feb', 'March' ,'Apr', 'May'],
        },
        stroke: {
          width: 3,   
          curve: 'smooth'
        },
        markers: {
          size: 6,
          opacity: 0.9,
          strokeWidth: 0,
            
          hover: {
            size: 7,
          }
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";

.container .apexcharts-legend-series {
  display: none !important;
}

@media screen and (orientation: portrait) {
  .container {
    height: 80vh;

    .link {
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
    }

    .row {
      margin-bottom: 0;
    }

    .chipses.middle {
      margin-bottom: 8px;
    }

    .chip {
      width: 100%;
      height: 50px;
      line-height: 50px;
      span {
        color: #d83188;
        font-weight: 800;
      }
    }

    .text {
      font-size: 15px;
      padding-bottom: 20px;
      color: $dirty-gray;

      span {
        font-weight: 800;
        color: $positive_color;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .link, .text, .chipses {
    display: none;
  }
}
</style>