<template>
  <main>
    <top-header title="Move into new Category"/>
    <div class="container">
     <div class="center row one">
        <ul class="collection">
        <li class="collection-item">
          <div>
            <span>Piano Lounge</span>
            <span>{{ amount | currency }}</span>
          <a class="secondary-content"></a></div></li>
      </ul>
      </div>
      <div class="center row two">
        <ul class="collection">
          <li class="collection-item" v-for="item in categories" :key="item.id">
          <div class="item">
          <span><i class="material-icons">{{ item.icon }}</i></span>
          <span>{{ item.text }}</span>
          </div></li>
        </ul>
      </div>
      <div class="center row three">
        <div class="input-field col s12">
          <input id="categoryname" type="text" class="validate" v-model="categoryname">
          <label for="categoryname">Category name</label>
        </div>
      </div>
      <div class="center row">
      <div class="card-action">
          <a href="#/8">Add</a>
      </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Page8",
  data() {
    return {
      amount: 2000,
      categoryname: '',
      categories: [
        {
          id: 1,
          text: 'Groceries',
          icon: 'shopping_cart'
        },
        {
          id: 2,
          text: 'Restaurants',
          icon: 'local_cafe'
        },
        {
          id: 3,
          text: 'Travel',
          icon: 'local_shipping'
        },
        {
          id: 4,
          text: 'Entertainment',
          icon: 'local_movies'
        }]
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";
.container {
  padding: 0;
  height: 89vh;
}

.card-action {
  text-transform: uppercase;
}

.collection {
    margin: 0;
    border: solid 1px transparent;

    .collection-item {
      margin-bottom: 10px;
      text-align: left;
      color: $font_light_color;
      border: inherit;

      span {
        display: inline-block;
        width: 45%;
      }
    }
  }

.one {
  .collection {
    .collection-item {
      background-color: #f1f1f1;
    }
  }
}

.two {
  height: 50vh;
  .collection {
    .collection-item {
      .item {
        display: flex;
        align-items: center;
      }
      span {
        width: 15%;
        height: 32px;
      }
    }
  }
}
</style>