<template>
  <main>
    <top-header />
    <div class="container">
      <div class="center row">
        <div class="col s12 graph">
          <div class="carousel">
            <a class="carousel-item" href="#6"><i class="material-icons">shopping_cart</i><span>{{ amount_a }}</span></a>
            <a class="carousel-item" href="#6"><i class="material-icons">local_shipping</i><span>{{ amount_b }}</span></a>
            <a class="carousel-item" href="#6"><i class="material-icons">local_movies</i><span>{{ amount_c }}</span></a>
            <a class="carousel-item" href="#6"><i class="material-icons">payment</i><span>{{ amount_d }}</span></a>
          </div>
        </div>
      </div>
      <div class="center row">
        <ul class="collection">
        <li class="collection-item" v-for="item in transactions" :key="item.id">
          <div>
            <span>{{ item.text }}</span>
            <span>{{ item.amount | currency }}</span>
          <a class="secondary-content"><i class="material-icons">arrow_forward</i></a></div></li>
      </ul>
      </div>
    </div>
  </main>
</template>

<script>

export default {
  name: "Page6",
  data() {
    return {
      credit: 10000,
      amount_a: 200,
      amount_b: 300,
      amount_c: 250,
      amount_d: 900,
      transactions: [
        {
          id: 1,
          text: 'Stoke Poges',
          amount: 300
        },
        {
          id: 2,
          text: 'Engen',
          amount: 176
        },
        {
          id: 3,
          text: 'Google',
          amount: 800
        },
        {
          id: 4,
          text: 'Woolworths',
          amount: 110
        },
        {
          id: 5,
          text: 'Netflix',
          amount: 99
        },
        {
          id: 6,
          text: 'Vida Cafe',
          amount: 90
        },
        {
          id: 7,
          text: 'Uber',
          amount: 50
        }
      ]
    }
  },
  mounted() {
    window.M.Carousel.init(document.querySelectorAll('.carousel'), {});
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";

.center.row:first-of-type {
  margin-bottom: 0; 
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.carousel {
  height: 200px;
}

.carousel-item {
  i {
    font-size: 90px;
  }
  span {
    display: block;
  }
}

.collection {
  margin: 0;
  border: solid 1px transparent;

  .collection-item {
    margin-bottom: 10px;
    text-align: left;
    background-color: #f1f1f1;
    color: $font_light_color;
    border: inherit;

    span {
      display: inline-block;
      width: 45%;
    }
  }

  i {
    transform: rotate(-25deg);
    color: $bright-blue;
  }
}
</style>