<template>
  <main>
    <top-header title=" Organize My Activity"/>
    <div class="container">
      <div class="center row">
        <div class="row">
          <div class="input-field col s5">
            <input id="dateFrom" type="text" class="datepicker" v-model="dateFrom" />
            <label for="dateFrom">Jul 01, 2019</label>
          </div>
          <div class="input-field col s2">to</div>
          <div class="input-field col s5">
            <input id="dateTo" type="text" class="datepicker" v-model="dateTo" />
            <label for="dateTo">Jul 31, 2019</label>
          </div>
        </div>

        <div class="col s12 graph">
          <chart type="donut" :options="options" :series="series" />
        </div>
        <div class="s6">
          <i class="material-icons income">fiber_manual_record</i> Incomes
          <i class="material-icons expense">fiber_manual_record</i> Expenses

        </div>

        <div>

          <table>
            <tbody>
            <tr>
              <td>          <i class="material-icons expense">local_grocery_store</i>
              </td>
              <td><a v-on:click="openPage(8)">Restaurants</a></td>
              <td>R1050.00</td>
            </tr>
            <tr>
              <td>          <i class="material-icons expense">local_dining</i>
              </td>
              <td><a v-on:click="openPage(8)">Restaurants</a></td>
              <td>R550.00</td>
            </tr>
            <tr>
              <td>          <i class="material-icons expense">local_airport</i>
              </td>
              <td><a v-on:click="openPage(8)">Travel</a></td>
              <td>R3500.00</td>
            </tr>
            <tr>
              <td>          <i class="material-icons expense">flag</i>
              </td>
              <td><a v-on:click="openPage(8)">Miscellaneous</a></td>
              <td>R5000.00</td>
            </tr>
            <tr>
              <td>          <i class="material-icons income">attach_money</i>
              </td>
              <td><a v-on:click="openPage(8)">Income</a></td>
              <td>R2500</td>
            </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Chart from './Chart.vue'

export default {
  name: "Page11",
  components: {
    Chart
  },
  data() {
    return {
      dateFrom:"",
      dateTo:"",
      credit: 10000,
      series: [25, 75],
      chartOptions: {
        labels: ['Income', 'Expenses']
      },
      options: {
        legend: {
          show: true
        },
        plotOptions: {
          bar: {
            distributed: true
          }
        },
        title: {
          text: 'Monthly spend trends',
          align: 'left',
          style: {
            fontSize: "16px",
            color: '#666'
          }
        },
        colors:['#4093d2', '#d83188'],
        xaxis: {
          categories: ['Jan', 'Feb', 'March' ,'Apr', 'May'],
        },
        stroke: {
          width: 3,
          curve: 'smooth'
        },
        markers: {
          size: 6,
          opacity: 0.9,
          strokeWidth: 0,

          hover: {
            size: 7,
          }
        }
      }
    }
  },
  mounted() {
    const tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    window.M.FormSelect.init(document.querySelectorAll('select'), {});
    window.M.Datepicker.init(document.querySelectorAll(".datepicker"), {
      autoClose: true,
      maxDate: tomorrow,
      onSelect: date => {
        this.goal.deadline = date;
      }
    });
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";

.container .apexcharts-legend-series {
  display: none !important;
}

@media screen and (orientation: portrait) {
  .container {
    height: 80vh;

    .link {
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
    }

    .row {
      margin-bottom: 0;
    }

    .chipses.middle {
      margin-bottom: 8px;
    }

    .chip {
      width: 100%;
      height: 50px;
      line-height: 50px;
      span {
        color: #d83188;
        font-weight: 800;
      }
    }

    .text {
      font-size: 15px;
      padding-bottom: 20px;
      color: $dirty-gray;

      span {
        font-weight: 800;
        color: $positive_color;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .link, .text, .chipses {
    display: none;
  }
}

  .income{

    color: #4093d2;

  }

  .expense{
    color: #d83188;

  }
</style>