<template>
  <main>
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required v-model="searchTerm" />
            <label class="label-icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
    <div class="container">
      <div class="scrollable row">
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="collection">
          <li class="collection-item" v-for="(item, index) in filteredList" :key="index">
            <div>
              <span class="date grey-text lighten-1">25 June</span>
              {{ item.text }}
              <a
                href="#!"
                class="secondary-content"
                v-bind:class="item.amount < 0 ? 'red-text' : 'blue-text darken-4'"
              >{{ item.amount | currency }}</a>
            </div>
          </li>
        </ul>
      </div>
      <FAB />
      
    </div>

<ul id="slide-out" class="sidenav">
    <li><a href="#/10">Filter</a></li>
    <li> <div class="input-field col s12">
    <select>
      <option value="1" selected>All</option>
      <option value="2">222</option>
      <option value="3">333</option>
    </select>
    <label>Account from</label>
  </div></li>

      <li> <div class="input-field col s12">
    <select>
      <option value="1" selected>All</option>
      <option value="2">222</option>
      <option value="3">333</option>
    </select>
    <label>Account to</label>
  </div></li>

      <li> <div class="input-field col s12">
    <select>
      <option value="1" selected>All</option>
      <option value="2">20</option>
      <option value="2">30</option>
      <option value="2">40</option>
      <option value="2">50</option>
      <option value="2">60</option>
      <option value="2">70</option>
    </select>
    <label>Amount</label>
  </div></li>

  <li> <div class="input-field col s12">
    <select>
      <option value="1" selected>All</option>
      <option value="2">B</option>
      <option value="3">C</option>
    </select>
    <label>Type</label>
  </div></li>

  <li> <div class="input-field col s12">
    <select>
      <option value="1" selected>All</option>
      <option value="2">Today</option>
      <option value="3">Yesterday</option>
    </select>
    <label>Date</label>
  </div></li>


  </ul>

  </main>
</template>

<script>
export default {
  name: "Page10",
  data() {
    return {
      searchTerm: "",
      results: []
    };
  },
  created() {
    const data = this.getData();
    this.results = this.getData();
    this.results.forEach(i => {
      i.amount = this.fakeAmount();
    });
  },
  computed: {
    filteredList() {
      if (this.searchTerm.length < 1) return this.results;
      return this.results.filter(hit => {
        return hit.text.toLowerCase().includes(this.searchTerm.toLowerCase());
      });
    }
  },
  mounted() {
    window.M.Sidenav.init(document.querySelectorAll('.sidenav'), {});
    window.M.FormSelect.init(document.querySelectorAll('select'), {});
  },
  methods: {
    fakeAmount() {
      return Math.floor(Math.random() * 201);
    },
    getData() {
      return [
    {
      text: 'Rent',
      amount: 3000,
      category: 3
    },
    {
      text: 'Engen',
      amount: 350,
      category: 2
    },
    {
      text: 'Google Play',
      amount: 199,
      category: 3
    },
    {
      text: 'Woolworths',
      amount: 200,
      category: 1
    },
    {
      text: 'Netflix',
      amount: 199,
      category: 3
    },
    {
      text: 'Vida Cafe',
      amount: 90,
      category: 3
    },
    {
      text: 'Uber',
      amount: 50,
      category: 2
    },
    {
      text: 'Pick n Pay',
      amount: 350,
      category: 1
    },
    {
      text: 'Plant Ranch',
      amount: 250,
      category: 3
    },
    {
      text: 'Takealot',
      amount: 450,
      category: 3
    },
    {
      text: 'Service fees',
      amount: 50,
      category: 3
    },
    {
      text: 'Food',
      amount: 5,
      category: 3
    },
    {
      text: 'Service fees',
      amount: 5,
      category: 3
    },
        {
      text: 'Rent',
      amount: 3000,
      category: 3
    },
        {
      text: 'Rent',
      amount: 3000,
      category: 3
    },
        {
      text: 'Rent',
      amount: 3000,
      category: 3
    },
  ];
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";
.container {
  padding: 0;
  height: 89vh;
}

.collection {
  border: none !important;
  border-top: solid 1px transparent !important;
  border-bottom: 1px solid #e0e0e0;
  margin: 3rem 0 1rem 0;
}

nav {
  box-shadow: none;
  background-color: $primary_color;
  color: white;
  height: $navigation_height;
  line-height: $navigation_height;

  i {
    height: $navigation_height;
    line-height: $navigation_height;
  }

  form,
  input {
    width: 100%;
  }

  .nav-wrapper {
    display: flex;
    width: 100%;
    align-items: center;

    a {
      font-size: 20px;
      font-weight: 400;
    }

    .brand-logo {
      width: 100%;
      padding-left: 20px;

      img {
        height: 40px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}

span.date {
  display: inline-block;
  margin-right: 15px;
}

.scrollable {
  overflow-y: scroll;
  height: 78vh;
    margin: 0;
    padding: 0; 
}

#slide-out li {
  margin-left: 17px;
}

#slide-out .first {
  margin-left: 0;
}
</style>