<template>
  <main>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,700&display=swap" rel="stylesheet">
    <top-header title="Can you afford this?" />
    <div class="container">
      <div class="row">
        <div class="row" id="instant_check_blurb">
          <div class="innerText">
              Tell us how much you’d like to spend right now, and we’ll advise whether you have enough money to sustain your spending trend till your next pay day.
          </div>
        </div>
        <form class="col s12" id="form">
          <div class="row">
            <div class="input-field col s12">
              <input id="amount" type="number" class="validate" :disabled="busy" v-model="amountValue" />
              <label for="amount">How much?</label>
            </div>
          </div>
          <div class="row center">
            <div class="col s12">
              <a :disabled="busy || amountValue.length === 0" class="waves-effect waves-light btn light-blue darken-2" v-on:click="check(3)">
                {{ busy ? 'Checking...' : 'CHECK' }}
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="row center">
      <div v-show="busy" class="progress">
        <div class="indeterminate"></div>
      </div>
      </div>
      <div class="row center bottom">
        <div class="col">
        <div class="row">
        <i class="material-icons green-text" v-show="showSuccess">check_circle_outline</i>
        <i class="material-icons red-text" v-show="showFailure">error_outline</i>
        </div>
        <div class="row innerText" id="credit_div" v-show="showFailure">
            Based on your spending trends you will not make it to your next pay day
            <div class="row creditText">
                          We can offer you credit in the next 15 minutes at a low interest rate of 12%
            </div>
          <div class="row applyBtn">
            <button class="waves-effect waves-light btn light-blue darken-2">APPLY</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Page9",
  data() {
    return {
      amountValue: '',
      busy: false,
      showSuccess: false,
      showFailure: false
    }
  },
  methods: {
    check() {
      this.showSuccess = false; 
      this.showFailure = false; 
      this.busy = true;
      setTimeout(function () { 
        this.busy = false;
        this.showSuccess = this.amountValue <= 1000; 
        this.showFailure = this.amountValue > 1000; 
      }.bind(this), 2000);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";
.container {
  padding: 0;
}
.btn {
    height: 48px;
    line-height: 48px;
    width: 140px;
  }

  .row {
    margin-bottom: 0;
  }

.progress {
  position: absolute;
  margin: 0;
  bottom: 0;
}

#form {
  margin-top: 24px
}

#instant_check_blurb {
  background: rgba(196, 196, 196, 0.47);
  left: 28px;
  right: 28px;
  width: 300px;
  height: 110px;
  margin-top: 16px;
  border-radius: 15px;
  font-size: 14px;
}

.innerText {
  padding: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  .creditText{
    margin-top: 34px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: $bright-blue;
  }
}
.bottom {
  height: 50vh;
  display: flex;
    align-items: center;
    justify-content: center;

  i {
    font-size: 120px;
  }
}

#credit_div{
  height: 200px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 16px;
  border-radius: 15px;
}

.applyBtn {
  margin-top: 16px;
}

</style>