<template>
  <main>
    <top-header title="Pick your approach" />
    <div class="container">
      <div class="center row">
        <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a class="active" href="#relaxed">Relaxed</a></li>
            <li class="tab col s3"><a href="#strict">Strict</a></li>
             <li class="tab col s3"><a href="#custom">Custom</a></li>
          </ul>
        </div>
        <div id="relaxed" class="col s12 header_row">
          <div class="row">
            <ul class="collection">
              <li class="collection-item title"><div><span>FIXED</span></div></li>
              <li class="collection-item line-item" v-for="(item, index) in relaxed_fixed" :key="'rf' + index" :data-index="index">
                <div>
                  <span>{{ item.text }}</span>
                  <span> {{ item.amount | currency }}   <i class="material-icons trend">arrow_drop_down</i> {{ item.newAmount | currency }}</span>


                  <a class="secondary-content"><i class="material-icons">chevron_right</i></a>
                </div></li>

                <li class="collection-item title"><div><span>FLEXI</span></div></li>
                <li class="collection-item line-item" v-for="(item, index) in relaxed_flexi" :key="'rfl' + index" :data-index="index">

                  <div>
                  <span>{{ item.text }}</span>
                    <span v-if="item.amount === item.newAmount"> {{ item.amount | currency }}</span>
                    <span v-if="item.amount !== item.newAmount"> {{ item.amount | currency }}   <i class="material-icons trend">arrow_drop_down</i> {{ item.newAmount | currency }}</span>
                    <a class="secondary-content"><i class="material-icons">chevron_right</i></a>
                </div></li>


                <li class="collection-item title"><div><span>TOTAL SAVINGS</span><span class="green-text">{{ 4000 | currency }}</span></div></li>
                <li class="collection-item title"><div><span>TOTAL CREDIT</span><span class="blue-text">{{ 16000 | currency }}</span></div></li>
            </ul>
          </div>
        </div>
        <div id="strict" class="col s12 header_row">
          <div class="row">
            <ul class="collection">
              <li class="collection-item title"><div><span>FIXED</span></div></li>
              <li class="collection-item line-item" v-for="(item, index) in strict_fixed" :key="'sf' + index" :data-index="index">
                <div>
                  <span>{{ item.text }}</span>
                  <span v-if="item.amount === item.newAmount"> {{ item.amount | currency }}</span>
                  <span v-if="item.amount !== item.newAmount"> {{ item.amount | currency }}   <i class="material-icons trend">arrow_drop_down</i> {{ item.newAmount | currency }}</span>                  <a class="secondary-content"><i class="material-icons">chevron_right</i></a>
                </div></li>

                <li class="collection-item title"><div><span>FLEXI</span></div></li>
                <li class="collection-item line-item" v-for="(item, index) in strict_flexi" :key="'srf' + index" :data-index="index">
                <div>
                  <span>{{ item.text }}</span>
                  <span v-if="item.amount === item.newAmount"> {{ item.amount | currency }}</span>
                  <span v-if="item.amount !== item.newAmount"> {{ item.amount | currency }}   <i class="material-icons trend">arrow_drop_down</i> {{ item.newAmount | currency }}</span>                  <a class="secondary-content"><i class="material-icons">chevron_right</i></a>
                </div></li>

                <li class="collection-item title"><div><span>TOTAL SAVINGS</span><span class="green-text">{{ 8000 | currency }}</span></div></li>
               <li class="collection-item title"><div><span>TOTAL CREDIT</span><span class="blue-text">{{ 12000 | currency }}</span></div></li>

            </ul>
          </div>
        </div>

         <div id="custom" class="col s12 header_row">
             <div class="row">
               <ul class="collection">
                 <li class="collection-item title"><div><span>FIXED</span></div></li>
                 <li class="collection-item line-item" v-for="(item, index) in strict_fixed" :key="'sf' + index" :data-index="index">
                   <div>
                     <span>{{ item.text }}</span>
                     <span v-if="item.amount === item.newAmount"> {{ item.amount | currency }}</span>
                     <span > {{ item.amount | currency }}    <input id="search" type="number" placeholder="Reduce To"/></span>
                     <a class="secondary-content"><i class="material-icons">chevron_right</i></a>
                   </div></li>

                 <li class="collection-item title"><div><span>FLEXI</span></div></li>
                 <li class="collection-item line-item" v-for="(item, index) in strict_flexi" :key="'srf' + index" :data-index="index">
                   <div>
                     <span>{{ item.text }}</span>
                     <span v-if="item.amount === item.newAmount"> {{ item.amount | currency }} </span>
                     <span > {{ item.amount | currency }}    <input id="search" type="number" placeholder="Reduce To"/></span>
                     <a class="secondary-content"><i class="material-icons">chevron_right</i></a>
                   </div></li>

                 <li class="collection-item title"><div><span>TOTAL SAVINGS</span><span class="green-text">{{ 8000 | currency }}</span></div></li>
                 <li class="collection-item title"><div><span>TOTAL CREDIT</span><span class="blue-text">{{ 12000 | currency }}</span></div></li>

               </ul>
             </div>
           </div>

      </div>
      </div>
  <div class="row right">
        <div class="input-field col s12">
          <a class="waves-effect waves-light btn light-blue darken-2" v-on:click="openPage(4)">
            Next
          </a>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Page3",
  data() {
    return {
      strict_flexi: [
        {
          text: 'Groceries',
          amount: 2000,
          newAmount: 1500
        },
        {
          text: 'Restaurants',
          amount: 800,
          newAmount: 200
        },
        {
          text: 'Travel',
          amount: 3000,
          newAmount: 2000
        },
        {
          text: 'Entertainment',
          amount: 1500,
          newAmount: 750
        }
      ],
      strict_fixed: [
        {
          text: 'Subscriptions',
          amount: 1000,
          newAmount: 500
        },
        {
          text: 'Household',
          amount: 5000,
          newAmount: 3000
        }
      ],

      relaxed_flexi: [
        {
          text: 'Groceries',
          amount: 2000,
          newAmount: 2000
        },
        {
          text: 'Restaurants',
          amount: 800,
          newAmount: 800
        },
        {
          text: 'Travel',
          amount: 3000,
          newAmount: 2200
        },
        {
          text: 'Entertainment',
          amount: 1500,
          newAmount: 1500
        }
      ],
      relaxed_fixed: [
        {
          text: 'Subscriptions',
          amount: 1000,
          newAmount: 800
        },
        {
          text: 'Household',
          amount: 5000,
          newAmount: 4000

        }
      ]
    }
  },
  created() {
    console.log(this.$attrs.data);
  },
  mounted() {
    window.M.Tabs.init(document.querySelectorAll('.tabs'), {})
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";
.container {
  height: 91vh;
}
.header_row {
  margin-top: 14px;
}
.row {
  margin-bottom: 0;
}
.btn {
    height: 48px;
    line-height: 48px;
    width: 100px;
  }

.collection {
  margin: 0;
  border: solid 1px white;

  .collection-item {
    &.title {
      background-color: #f5f5f5;
      border: solid 1px transparent;
    }

    margin-bottom: 10px;
    text-align: left;
    color: $font_light_color;
    border: none;
    border-bottom: 1px solid #e0e0e0;

    span {
      display: inline-block;
      width: 45%;
    }
  }

  .line-item {
   border: none;
   border-top: 1px solid #e0e0e0;
  }
  .line-item[data-index="0"] {
    border-top: solid 1px white;
  }

  .trend{
    transform: rotate(-0deg);
    color: red;
  }
  .customTrendtrend{
    transform: rotate(-0deg);
    color: black;
  }

  i {
    transform: rotate(-0deg);
    color: $bright-blue;
  }


}
</style>