<template>
  <nav>
    <div class="nav-wrapper left">
      <a href="#" class="brand-logo">
        {{ title }}
        </a>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'TopHeader',
  props: ["title"]
}
</script>
<style scoped lang="scss">
@import "../assets/styles/colors.scss";
  nav {
    background-color: #255fa5;
    color: white;
    height: $navigation_height;
  
  .nav-wrapper {
    display: flex;
    width: 100%;
    align-items: center;

    a {
      font-size: 20px;
      font-weight: 400;
    }

    .brand-logo {
      width: 100%;
      padding-left: 20px;

      img {
        height: 40px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}
</style>