<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Knowledge.Chikuse@standardbank.co.za">
    <meta name="theme-color" content="#0033aa">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="libs/materialize.css" rel="stylesheet">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>FinHelp</title>
  </head>
  <body ___oncontextmenu="return false">
    <noscript>
      <strong>Please enable Javascript</strong>
    </noscript>
    <div id="app"></div>
    <script src="libs/materialize.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>