<template>
  <div id="app" v-cloak>
    <vue-page-transition name="fade">
      <router-view/>
    </vue-page-transition>
  </div>
</template>

<script>
  export default {
    name: 'app'
  }
</script>

<style lang="scss">
@import "./assets/styles/colors.scss";
@import "./assets/styles/fonts.scss";
@import "./assets/styles/style.scss";
</style>