$primary_color: #0033aa;
$font_light_color: #767676;
$font_medium_color: #444444;
$pale_grey: #dbdbdb;
$tertiary_color: #00aadd;
$error_color: #e70011;
$pale_grey_25: #f6f6f6;
$negative_color: #e70011;
$positive_color: #0e8a00;
$dirty-gray: #666666;
$bright-pink: #d83188;
$bright-blue: #4093d2;
$orange: #f6cd55;

$navigation_height: 75px;