@font-face {
    font-family: 'Roboto Regular';
    src: local("Roboto Regular"), url("assets/styles/fonts/roboto/roboto-ttf/roboto-regular.ttf") format("ttf");
    src: local("Roboto Regular"), url("assets/styles/fonts/roboto/roboto-woff2/roboto-regular-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: local("Roboto Light"), url("assets/styles/fonts/roboto/roboto-ttf/roboto-light.ttf") format("ttf");
    src: local("Roboto Light"), url("assets/styles/fonts/roboto/roboto-woff2/roboto-light-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: local("Roboto Medium"), url("assets/styles/fonts/roboto/roboto-ttf/roboto-medium.ttf") format("ttf");
    src: local("Roboto Medium"), url("assets/styles/fonts/roboto/roboto-woff2/roboto-medium-webfont.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), 
    local("MaterialIcons-Regular"), 
    url("assets/styles/fonts/materialdesignicons/MaterialIcons-Regular.woff2") format("woff2"), 
    url("assets/styles/fonts/materialdesignicons/MaterialIcons-Regular.woff") format("woff"), 
    url("assets/styles/fonts/materialdesignicons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}