*, *:before, *:after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

* { 
  -webkit-tap-highlight-color: transparent; 
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Roboto Regular';
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Regular';
  overscroll-behavior: none;
  touch-action: none;
  -webkit-touch-callout: none;
  user-select: none; 
}

[v-cloak] {
  display: none;
}

#app {
  height: 100vh;
}

.toasted {
  &.toasted-primary {
    height: 48px;
    font-size: 14px;
    font-family: 'Roboto Regular';
    padding-left: 24px;

    &.error {
      background: $negative_color;
    }
    &.success {
      background: $positive_color;
    }
  }
}
.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.card {
  margin-top: 0 !important;
}

.apexcharts-toolbar,
.apexcharts-legend-series {
 display: none !important;
}

.toast {
  background: $positive_color;
  height: 80px;
}
@media screen and (orientation: portrait) {
  .container {
    height: calc(100vh - 75px);
  }
  .page7 .apexcharts-toolbar,
  .page7 .apexcharts-legend-series {
    display: block !important;
  }
}

@media screen and (orientation: landscape) {
  nav {
    display: none;
  }
}